<div class="p-5 bg-white rounded shadow-lg">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img class="img-fluid rounded mx-auto d-block" src="~/img/404-image.jpg" alt="Alternate Text" />
		</div>
		<div class="col-md-8 col-sm-12">
			<h1 class="display-1 text-center"><b>404</b></h1>
			<h3 class="mb-4 text-center">Sorry the page you are looking for doesn't exist</h3>
			<p class="text-center">
				<a class="btn btn-primary" asp-controller="hero" asp-action="index">BACK TO SEARCH</a>
			</p>
		</div>
	</div>	
</div>
